<%= form_for @post, url: posts_path, html: { multipart: true } do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited this post from being published:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </p>
  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  <p>
    <%= form.submit "Upload" %>
  </p>
<% end %>
