<h1>My Posts</h1>

<%= link_to 'New post', new_post_path %>

<% @posts.reverse_each do |post| %>
  <row>
    <p>
      <strong>Post: <%= post.id %></strong><br>
      <%= image_tag post.picture.url(:medium) %><br>
      <%= post.caption %>
    </p>
    <p>
      <%= link_to 'Edit', edit_post_path(post) %>
    </p>
  </row>
<% end %>
