<h1>New Post</h1>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :picture, "Choose a photo" %><br>
    <%= form.file_field :picture %>
  </p>
  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  <p>
    <%= form.submit "Upload" %>
  </p>
<% end %>
